html{
  background-color: #F1F1F1;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  /* background: black; */
  /* overflow: hidden */
}


.topbar{
  background-color: white;
  height: 10%;
  padding-bottom: 15px;
}

.topbar-right{
  background-color: white;
  height: 10%;
  margin-right: 100px;
}

.middlebar{
  background-color: #F1F1F1;
  height: 80%;
  margin-bottom: 200px;
  overflow: auto;
}

.bottombar{
  position: absolute;
  color: white;
  height: 10px;
  width: 100%;
  bottom: 0px;

}

.color-style{
  font-family: "Squad Semi Bold", Helvetica, sans-serif;
  padding-top: 50px;
  color: #00365F;
  padding-bottom: 50px;
}

.middle-center{
  margin-left: 100px;
  margin-right: 100px;
  background-color: #F1F1F1;
}

.letter-style{
  font-family: "Squad Semi Bold", Helvetica, sans-serif;
}

/* Device */
.reported-device{
  height: 100px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
}

.reported-device:hover{
  background-color: #C1D101;
  /* color: white; */
}

.reported-device-description{
  float: left;
  padding-left: 30px;
  padding-top: 10px;
  color: #00365F;
  width: 48%;
  /* padding-left: 100px; */
}

.reported-device-icon{
  float: right;
  padding-right: 30px;
  padding-top: 40px;
  font-size: 30px;
  /* width: 48%; */
}

.description{
  color: #7A8401;
}

.label-description{
  color: black;
  font-size: 15px;
  margin-top: 40px;
}

.space-label{
  color: #00365F;
  /* padding-top: 50px; */
}



.DetailWindow{
  margin: auto;
  margin-top: 0px;
  margin-bottom: 100px;
  width: 80%;
  height: 60%;
  vertical-align: middle;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
}

/* Plus iccon */
.icon-right{
  margin: 20px;
  float: right;
  font-size: 40px;
  margin-bottom: 100px;
}

.icon-right:hover{
  background-color: #C1D101;
  border-radius: 50px;
}

.bi-question-circle:hover{
  background-color: #C1D101;
  border-radius: 50px;
}



@media only screen and (max-width: 600px) {
  .middle-center{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10px;
  }

  div.input-block input {
    font-size: 0.5rem;
    width: 200px;
  }

  div.input-block.right input {
    font-size: 0.5rem;
    width: 100px;
  }

  .icon-right{
    margin: 10px;
    font-size: 20px;
  }

  .DetailWindow{
    top: 0px;
  }
}

