<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- <script
      src="https://kit.fontawesome.com/5ff0cc3a63.js"
      crossorigin="anonymous"
    ></script> -->
  </head>
  <body>
    <div class="bar">
      <td class="bar id">ID</td>
      <td class="bar name">Naam</td>
      <td class="bar message">Bericht</td>
      <td (click)="OpenSetting()" class="bar settings bi bi-sliders"></td>

    </div>

    <!-- <button (click)="CheeseBurger()">HAHAH</button>
    <button (click)="CheeseBurger2()">HAHAH</button>
    <button (click)="DataCall()">HAHAH</button> -->

    <section>

      <div [@simpleFadeAnimation]="'out'" *ngFor="let item of notifications">
        <div
          *ngIf="item.visible"
          [ngStyle]="{ color: item.type }"
          class="NotificationTray {{ item.type }}"
        >
          <!-- <td><i class="bi bi-check-circle"></i></td> -->
          <!-- <td class="bi bi-exclamation-triangle"></td> -->
          <td class="bi bi-{{item.icon}}"></td>
          <td class="NotificationTray id">#{{ item.id }}</td>
          <td class="NotificationTray machine">{{ item.machine }}</td>
          <td class="NotificationTray message">{{ item.message }}</td>
        </div>
      </div>
    </section>

    <!-- <div>{{ title }}</div>
    <tr *ngFor="let hero of HEROES">
      <td>{{hero.name}}</td>
      <td>{{ hero.name }}</td>
      <div>dsdjshz</div>
      <div>dsdjshz</div>
    </tr> -->
  </body>
</html>
