<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- <script
      src="https://kit.fontawesome.com/5ff0cc3a63.js"
      crossorigin="anonymous"
    ></script> -->
  </head>
  <body>
    <div *ngIf="showBar">
        <app-bar></app-bar>
      </div>
      <div>
        <app-overview></app-overview>
      </div>
    <!-- <div class="topbar">
      <div class="topbar-right">
        <ul>
          <li><a class="letter-style li-a-size" >home</a></li>
          <li><a class="letter-style li-a-size" >vertalingen</a></li>
        </ul>
      </div>
    </div> -->

    <div class="middlebar color-style">
      <div class="flex-container">
        <div class="barspace"></div>
        <div class="barid">Type</div>
        <div class="barname">Machine</div>
        <div class="barmessage">Melding</div>
        <div class="barsettings bi bi-sliders hover"
            (click)="OpenSetting()"></div>
      </div>

      <section>
        <div [@simpleFadeAnimation]="'out'" *ngFor="let item of notifications">
          <div
            *ngIf="item.visible"
            [ngStyle]="{ color: item.type }"
            class="NotificationTray {{ item.type }}"
          >
            <!-- <td><i class="bi bi-check-circle"></i></td> -->
            <!-- <td class="bi bi-exclamation-triangle"></td> -->
            <td class="NotificationTraysymbol bi bi-{{item.icon}}" style="margin-bottom: 100px;"></td>

            <!-- <td class="NotificationTray id">#{{ item.id }}</td> -->
            <td class="NotificationTrayid">
              <img class="imgVector" [ngClass]="{'imgVectorDone' : item.fixed}" src="{{item.symbolForUrl}}">
            </td>
            <td class="NotificationTraymachine">{{ item.machine }}</td>
            <td class="NotificationTraymessage">{{ item.message }}</td>
          </div>
        </div>
      </section>
      <div>
        <button (click)="RemoveAllNotifications()" class="button">Verwijder alle meldingen</button>
      </div>
  </div>
  </body>
</html>
