html{
  overflow: hidden;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  /* background: black; */
  overflow: hidden
}

.topbar{
  background-color: white;
  height: 10%;
  padding-bottom: 15px;
}

.middlebar{
  background-color: #F1F1F1;
  height: 100%;
  margin-bottom: 150px;
  overflow: auto;
  overflow-y: hidden;
}

.icon-down{
  position: absolute;
  font-size: 40px;
  right: 20px;
  float: right;
  margin-right: 200px;
}

.icon-down:hover{
  font-size: 40px;
  background-color: white;
}

.color-style{
  font-family: "Squad Semi Bold", Helvetica, sans-serif;
  color: #7A8401;
  padding-bottom: 50px;
}

.bar{
  /* margin: 20px; */
  margin-left: 150px;
  padding: 20px;
  /* padding-top: 0px; */
  font-size: 40px;
  font-weight: bold;
}

.bar.border{
  border: 1px solid #F0FFFF;
}

.bar.id{
  width: 160px;
}

.bar.message{
  width: 590px;
}

.bar.name{
  width: 300px;
}

.bar.settings{
  /* position: absolute; */
  /* margin-left: auto; */
  right: 0px;
  /* float: right; */
}

.bar.settings:hover{
  background-color: white;
}

.NotificationTray {
  transition: 0.5s;
  cursor: pointer;
  margin: 20px;
  padding: 30px;
  font-size: 30px;
}

.NotificationTray.fixed {
  border: 1px solid rgba(122, 132, 1, 0.46);
  background-color: rgba(122, 132, 1, 0.12156862745098039);
  box-shadow: 0px 0px 2px #7a8401;
  color: #7a8401;
}

.NotificationTray.critic {
  border: 1px solid rgba(0, 54, 95, 0.81);;
  background-color: rgba(0, 54, 95, 0.16);;
  box-shadow: 0px 0px 2px #00365F;
  color: #00365F;
}

.NotificationTray.warning {
  border: 1px solid rgba(241, 142, 6, 0.81);
  background-color: rgba(220, 128, 1, 0.16);
  box-shadow: 0px 0px 2px #ffb103;
  color: #ffb103;
}

.NotificationTray.id {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  top: 0px;
  height: 30px;
  padding: 0%;
}

.NotificationTray .imgVector{
  position: relative;
  margin-left: 100px; margin-right: 80px;
  bottom: -5px;
  height: 30px;
  width: 128px;
}

.NotificationTray .imgVectorDone{
  /* filter: invert(40%) sepia(53%) saturate(1728%) hue-rotate(41deg) brightness(95%) contrast(99%); */
  filter: invert(23%) sepia(97%) saturate(1801%) hue-rotate(53deg) brightness(97%) contrast(104%);
}

.NotificationTray.machine {
  width: 28.5%;
  max-width: 30%;
  padding: 0%;
}

.NotificationTray.message {
  margin-left: 40px;
  width: 390px;
}

.NotificationTray.critic:hover{
  transition: 0.5s;
}

.NotificationTray.warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition: 0.5s;
}

.button {
  /* margin-left: auto;
  margin-right: auto; */
  position: absolute;
  border: none;
  right: 40px;
  bottom: 40px;
  display: block;
  border-radius: 10px;
  background-color: #7A8401;
  color: white;
  /* color: #00365F; */
  text-align: center;
  padding: 16px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.button:hover {
  color: white;
  background-color: #00365F;

}


/* Mobile version */

@media only screen and (max-width: 600px) {
  .bar{
    margin: 10px;
    margin-left: 30px;
    font-size: 15px;
    padding: 0px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .bar.id{
    width: 10px;
  }

  .bar.message{
    width: 10px;
    /* padding-right: 100px; */
  }

  .bar.name{
    width: 10px;
  }

  .NotificationTray {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .NotificationTray .imgVector{
    position: relative;
    margin-left: 20px; margin-right: 20px;
    bottom: -5px;
    height: 10px;
    width: 45px;
  }
}
