<div class="body">
  <div class="middle">
    <div class="top-middle">
      <h3 class="header color-style">Dagscore</h3>
      <div class="counter-box">
        <div class="box" *ngFor="let elem of elems" class="counter">
          0
        </div>
        <!-- <h3 >8000</h3> -->
      </div>
      <table class="styled-table">
        <thead>
            <tr>
                <th>Tijd</th>
                <th>Aantal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15:20 - 17:00</td>
                <td>...</td>
            </tr>
            <tr>
                <td>13:00 - 15:00</td>
                <td>...</td>
            </tr>
            <tr>
              <td>10:00 - 12:00</td>
              <td>...</td>
          </tr>
            <tr>
              <td>7:30 - 9:30</td>
              <td>...</td>
          </tr>
        </tbody>
    </table>
  </div>
    <div class="bottom-middle">

    </div>
  </div>
</div>
