ul {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
}

li {
  float: right;
  margin-left: 20px;
}

li a {
  display: block;
  border-radius: 10px;
  background-color: #C1D101;
  color: #00365F;
  text-align: center;
  padding: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

li a:hover {
  display: block;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.li-a-size{
  font-size: 18px;
}

.topbar{
  background-color: white;
  height: 10%;
  padding-bottom: 20px;
}

.topbar-right{
  background-color: white;
  height: 10%;
  margin-right: 100px;
}

.letter-style{
  font-family: "Squad Semi Bold", Helvetica, sans-serif;
}
