<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  </head>
  <body>
    <app-bar></app-bar>
    <div class="middlebar">
      <div class="middle-center">
        <!-- Detail window -->
        <div *ngIf="showDetailWindow" class="DetailWindow letter-style">
          <label for="Machinenaam" style="width:50%" class="label-description letter-style">Machinenaam</label><br><br>
          <input type="text" id="machinename" value="{{ ActualMachine.machineName }}" placeholder="Machine naam" style="width:50%" class="input-description letter-style"><br><br>
          <label for="Machinenaam" class="label-description letter-style space-label">Beschrijving statussen</label><br><br>
          <input type="text" id="machinename" value="{{ ActualMachine.description[0].valueTrue }}" placeholder="Beschrijving detecteren" style="width:50%" class="input-description letter-style">
          <input type="text" id="machinename" value="{{ ActualMachine.description[0].valueFalse }}" placeholder="Beschrijving niet detecteren" style="width:50%" class="input-description letter-style">

          <div class="DetailWindowBottum">
            <ul>
              <li><a (click)="SafeDetails()">Opslaan</a></li>
              <li><a (click)="RemoveDevice()">Verwijderen</a></li>
              <li><a (click)="CloseDetails()">Annuleren</a></li>
            </ul>
          </div>
        </div>

        <!-- Connected devices -->
        <div *ngIf="!showDetailWindow" >

        <h1 class="color-style">Verbonden apparaten:</h1>
          <div *ngFor="let item of ConnectedDevices">
            <div
            (click)="OpenDetails(item)"
            class="reported-device">
              <div >
                <h1 class="reported-device-description letter-style">{{ item.machineName }}</h1>
                <i class="bi bi-wifi reported-device-icon"></i>
              </div>
            </div>
          </div>
          <i (click)="AddDevice()"
          class="bi bi-plus-circle icon-right"></i>
        </div>
      </div>
    </div>
    <!-- <div class="bottombar">

    </div> -->
  </body>
</html>
